
@model IEnumerable<StudentViewModel>
<table>
    <thead>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model) {
            <partial name="_StudentRow" for="@s" />
        }
    </tbody>
</table>
